@import url('https://fonts.googleaps.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{   margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration:none;
     border: none;
     outline: none;
     scroll-behavior: smooth;
     font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-bg-color: #ededed;
    --main-bg-color: #00abf0;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-bg-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-bg-color);
    font-weight: 600;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-bg-color);
    font-weight: 500;
    margin-left: 3.5rem;
   transition: 0.5s;
}
.navbar a:hover, 
.navbar a.active{
    color: var(--main-bg-color);
    
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-bg-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url(home.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.home-content{
    max-width: 60rem;

}
.home-content h1 {
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-content  .text-animated{
    position: relative;
    width: 32.8rem;

}
.home-content  .text-animated h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-bg-color) ;
}
.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;

}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    
}
.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-bg-color);
    border: .2rem solid var(--main-bg-color);
    border-radius: .8rem;
    font-size: 1.6rem;
    font-weight: 555;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box .btn:hover{
    color: var(--main-bg-color);
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-bg-color);
}

.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);

}

.btn-box .btn:nth-child(2)::before{
    background: var(--main-bg-color);
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover:before{
    width: 100%;
}

.menu-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.menu-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-bg-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.menu-sci a:hover{
    color: var(--bg-color);
}

.menu-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-bg-color);
    z-index: -1;
    transition: .5s;
}
.menu-sci a:hover::before{
    width: 100%;
}
.menu-imghover{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
    

}

.menu-imghover:hover {

    background: var(--bg-color);
    opacity: .7;

}
